.App {
  height: 900px;
}

a {
  text-decoration: none;
  color: black;
}

.form {
  padding: inherit;
  border-left: 1px solid #00000017;
}
.messageList {
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.messageHeight {
  height: 94%;
  border-left: 1px solid #00000017;
  padding: 0 0 0 10px;
}
.padding020 {
  padding: 0 30px;
}

.navbar {
  padding: 11px 0 0 23px;
  height: 30px;
  background-color: #f3e6faf5;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.padding20 {
  padding: 20px;
}
.flexCol {
  display: flex !important;
  flex-direction: column;
  overflow-x: auto;

}