.App {
  height: 1vh;
}

a {
  text-decoration: none;
  color: black;
}

.form {
  width: 100%;
   height: 40px;
  align-self: flex-end;
}
.messageList {
  height: 1vh;
}

.padding020 {
  padding: 0 30px;
}

.navbar {
  padding: 11px 0 0 23px;
  height: 30px;
  background-color: #f3e6faf5;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.padding20 {
  padding: 20px;
}
.flexCol {
  display: flex !important;
  flex-direction: column;

}