.App {


  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  background: blanchedalmond;
}
.padding20 {
  padding: 20px;
}